body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 182, 182);
}

.score-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid black;
}