<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archery Scores | <%= title  %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="/"><h1>Archery Score Sheet</h1></a>
    <p>Sort through and input scores</p>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/scores">Scores</a></li>
            <li><a href="/score-input">Input a score</a></li>
        </ul>
    </nav>

    <div class="home content">
        <p>
            This is a practice mini project for me, Isaac Young, to better understand the backend of software. I am working with Exress, ejs, and Supabase 
            to make this project functional.
        </p>
    </div>
    <footer>
        <p>
            Copyright &copy; Isaac Young
        </p>
    </footer>
    <script type="module" href="script.js"></script>
</body>
</html>