<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archery Scores | <%= title  %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="/"><h1>Archery Score Sheet</h1></a>
    <p>Sort through and input scores</p>

    <div class="login__form">
        <form action="/login" method="post">
            <label for="email">Email Address</label>
            <input type="text" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <button type="submit">Login</button>
        </form>
    </div>
    <footer>
        <p>
            Copyright &copy; Isaac Young
        </p>
    </footer>
    <script href="script.js"></script>
</body>
</html>